<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div id="app">
      <img src="./src/assets/yeoman.png" />
      <h2>相关</h2>
      <ul>
        <li>
          <a href="https://https://webpack.js.org" target="_blank">Webpack</a>
        </li>
        <li><a href="http://yeoman.io/" target="_blank">Yeoman</a></li>
      </ul>
    </div>
  </body>
</html>
